@import "tailwindcss";
@import "@nuxt/ui";


@theme static {
  --color-primary: #FFB8D1;
  --color-secondary: #E4B4C2;
  --color-tertiary:  #E7CEE3;
  --color-accent: #DDFDFE;
  --color-gray: #E0E1E9;
  --color-black: #0f0f0f;
}


[data-ui-root] {
  background-color: #fff !important; /* or your desired color */
  color: #0f0f0f; /* Optional: default text color */
}


